<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find drone_ai)/launch/drone.launch"/>
    <rosparam command="load" file="$(find drone_ai)/config/qlearning_params.yaml" />
    <!-- Launch the training system -->
    <!-- <node pkg="drone_ai" name="qlearning" type="qlearning.py" output="screen"/>
    <node pkg="drone_ai" name="reward_chart" type="reward_chart.py" output="screen"/> -->
</launch>